# Lab 7: Integrating SQL with Python and pandas

## pandas and SQL: Reading and Writing to SQL Databases

## ORM Libraries: SQLAlchemy

## Database Connection and Querying using Python

## Cleaning and Manipulating SQL Data with pandas

## Exercises: SQL-Pandas Integration problems