# Lab 5: Introduction to SQL

## Why SQL for Data Science?

## SQL Basics: SELECT, FROM, WHERE

## Aggregate Functions: GROUP BY, HAVING, COUNT, etc.

## Joins: INNER JOIN, LEFT/RIGHT OUTER JOIN, FULL OUTER JOIN

## Exercises: Basic SQL problems